################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Clinica_Api/Clinica_Api/obj/Release/net6.0
/Clinica_Api/Clinica_Api
/.vs/Clinica_api
/.vs
/Clinica_Api/.vs/Clinica_Api/FileContentIndex
